/* You can add global styles to this file, and also import other style files */
.p-panelmenu .p-panelmenu-header   > a {
    border: none !important;
}

 .p-panelmenu .p-panelmenu-content {
    border: none !important;

}

.tarjeta_principal{
    padding: 50px 135px 200px 135px !important;
    /* primero arriba, segundo derecha, tercero abajo, cuarto izquierda  */
}

.p-toolbar {
    padding: 0.2rem !important;
}

/* .p-sidebar-left {
     border-bottom-right-radius: 50px !important; 
     border-top-right-radius: 50px !important; 
} */
/* .p-sidebar-header {
    border-top-right-radius: 50px;
} */

.p-inputtext {
    display: block;
    margin-bottom: .5rem;  
}

.p-field * {
display: block;
}

.card-login{
    font-size:1.2rem !important;
}

.p-inputtext,.p-password {
    width: 100% !important;
    height: 50px !important;
  }